body {
  background-color: var(--primary-bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: Roboto;
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
}
ul {
  list-style: none;
  margin-inline: 215px;
  padding: 0;
}
li {
  margin: 15px;
  display: inline-block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --white-title-color: #ffffff;
  --footer-link: rgba(255, 255, 255, 0.6);
}

/* Верхняя линия */
.header {
  margin-inline: 215px;
  line-height: 80px;
  display: table-column-group 3;
}

.header ul {
  margin: 0;
}
.header li {
  margin: 0;
}

.logo-accent {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
}
.logo {
  color: #000000;
}

a {
  text-decoration: none;
}
.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 16px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.studio {
  width: 49px;
  left: 453px;
  top: 32px;
}
.port {
  width: 77px;
  left: 552px;
  top: 32px;
}
.contact {
  width: 68px;
  left: 679px;
  top: 32px;
}

/* Герой */

.hero {
  color: var(--white-title-color);
  background-color: var(--footer-bg-color);
  padding-inline: 452px;
  padding-block: 200px;
}
.hero-title {
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
}
.order-button {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
.order-button:active {
  background-color: var(--primary-bg-color);
  color: var(--accent-color);
}

/* Особенности */

.specifics {
  letter-spacing: 0.03em;
  padding-top: 94px;
}
.specifics li {
  height: 75px;
  text-align: left;
  width: 270px;
  line-height: 24px;
}
.specifics h2 {
  display: none;
}
.specifics-title {
  color: var(--title-text-color);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.specifics-text {
  color: var(--primary-text-color);
  font-size: 14px;
}

/* Чем мы занимаемся */

.work {
  font-size: 36px;
  padding-block: 94px;
}

/* Наша команда */

.team {
  background-color: var(--second-bg-color);
  font-size: 36px;
  padding-block: 94px;
}

.team h3 {
  color: var(--title-text-color);
  font-size: 16px;
}

.team li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.job-title {
  color: var(--primary-text-color);
  font-size: 16px;
}

/* Подвал */

.footer {
  background-color: var(--footer-bg-color);
  color: var(--white-title-color);
  text-align: left;
  padding-inline: 215px;
  padding-block: 60px;
}
.footer p {
  margin-block: 0px;
}
.footer h2 {
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-link {
  color: var(--footer-link);
  text-decoration: none;
  font-size: 14px;
  margin-block: 9px;
}

/* Портфолио */
.portfolio {
  margin: 94px;
}
/* Фильтры */

.filter {
  margin: 0px;
}
.filter li {
  margin: 8px;
}
.filter button {
  background-color: var(--second-bg-color);
  border: none;
  font-size: 16px;
  border-radius: 4px;
  padding-inline: 22px;
  padding-block: 6px;
  font-weight: 500;
  line-height: 26px;
}
.filter h1 {
  display: none;
}
.filter button:hover,
.filter button:focus {
  background-color: var(--accent-color);
  color: var(--white-title-color);
}

/* Проекты */
.project ul {
  margin-inline: 0;
}
.project li {
  border: 1px solid #eeeeee;
  text-align: left;
}
.project h2 {
  font-size: 18px;
  color: var(--title-text-color);
  padding-inline: 24px;
}

.project p {
  font-size: 16px;
  color: var(--primary-text-color);
  padding-inline: 24px;
}
